body {
  font-family:serif;
  background-image: url("https://drive.google.com/uc?export=view&id=1VVxmNhszzWpdNUQqQEZUvy6xZCGEQ7bi");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  /* background-color: rgba(5, 0, 0, 0.8); */
  backdrop-filter: blur(1px);
}

.firstSection {
  height: 100vh;
  width: 100vw;
  /* background-color: brown; */
  background-color: rgba(5, 0, 0, 0.8);
  backdrop-filter: blur(1px);
}

.writing .pic {
  height: 60px;
  background-color: aquamarine;
}


.pic img {
  max-width: 70%;
  height: auto;
  max-height: 300px;
}

.d-flex{
  align-items: center;
}
.imgslide img {
  height: 600px;
  width: 60vw;
}

.secondSection {
  /* padding-top: 10px; */
  background-color: rgba(18, 0, 32, 0.8);
  backdrop-filter: blur(1px);
}

.imgslide {
  padding: 40px;
}

.events {
  padding-top: 20px;
}




.cdi {
	display: inline-block;
	font-size: 5em;
	text-align: center;
	user-select: none;
	-webkit-user-select: none;
}
.cdi-lbl {
font-size: small;}
#m-break {
	display: none;
}
.title {
	font-family: Dancing Script, cursive;
	top: 0.5em;
	left: 0.5em;
	font-size: 2em;
}
#play-toggle {
	position: fixed;
	top: 0.5em;
	right: 0.5em;
	cursor: pointer;
}


@keyframes fadeIn {
	from {
		transform: translateY(1em);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
@media (max-width: 775px) {
	#countdown-box {
		flex-wrap: wrap;
	}
	.cdi {
		font-size: 3em;
	}
	.cdi-lbl {
		color: #fff;
	}
	#m-break {
		display: block;
		flex-basis: 100%;
		height: 0;
	}
	.title {
		left: 0;
		width: 100%;
		text-align: center;
	}
	.audio-plug {
		width: 50%;
	}
}
